.details-body {
  background-image: url("../../public/background-img.jpg");
  max-height: 100% !important;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  background-size: 70% 100vh;
  padding: 3rem;
}

.form-card {
  width: 38%;
  margin-left: auto;
  padding: 4rem;
  border-radius: 20px !important;
  box-shadow: 5px 10px 18px #888888 !important;
}

.heading-text {
  color: blueviolet;
  font-family: cursive;
  margin: 0;
  margin-bottom: 1rem;
}

.register-now-text {
  font-weight: bold;
  font-family: auto;
  font-size: 20px;
}
